################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LibraryAPI/bin/Debug
/LibraryAPI/obj/Debug
